{% extends "layouts/base.html" %}

<!-- {% block title %} LOG NEW JO ACTIVITY {% endblock %} -->

{% block content %}
<div class="content">
    <!-- Registro Table -->
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0"><span style="color: #FE001A;">JOB ORDERS</span> - LOG NEW ACTIVITY</h4>
        </div>
        <div class="card-body">
            <div class="top-card">
                <div class="row2">
                    <div class="form-group col-md-8">
                        <label for="color">CLIENT NAME</label>
                        <input type="text" class="form-control" id="client_name" name="txt_client_name" value="{{ next_jo }}">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="jo_no">DATE IN</label>
                        <input type="text" class="form-control" id="date_in" name="txt_date_in" value="{{ next_jo }}">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="jo_no">DATE OUT</label>
                        <input type="text" class="form-control" id="date_out" name="txt_date_out" value="{{ next_jo }}">
                    </div>
                </div>
                <div class="row2">
                    <div class="form-group col-md-7">
                        <label for="color">CAR MAKE/MODEL (COLOR)</label>
                        <input type="text" class="form-control" id="client_name" name="txt_client_name" value="{{ next_jo }}">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="jo_no">PLATE NO.</label>
                        <input type="text" class="form-control" id="jo_no" name="jo_no" value="{{ next_jo }}">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="jo_no">J.O NO.</label>
                        <input type="text" class="form-control" id="jo_no" name="jo_no" value="{{ next_jo }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}