{% extends "layouts/base.html" %}

{% block title %} Registro {% endblock %}

{% block content %}
<div class="content">

    <!-- Add Registro Button -->
    <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#addRegistroModal">
        +
    </button>

    <!-- Registro Table -->
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Registro</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class=" text-primary" style="white-space: nowrap;">
                        <tr>
                            <th >Servici</th>
                            <th>J.O No.</th>
                            <th>Date In</th>
                            <th>Date Out</th>
                            <th>VIN</th>
                            <th>Model</th>
                            <th>Plate No.</th>
                            <th>Color</th>
                            <th>Notes</th>
                            <th>Cliente</th>
                            <th>Tagged</th>
                            <th>Paperwork</th>
                            <th>Diagnosis</th>
                            <th>Estimate</th>
                            <th>Parts & Materials</th>
                            <th>Billing</th>
                            <th>Posizione</th>
                            <th>Days Count</th>
                            <th>Released To</th>
                            <th>Received From</th>
                            <th>Related J.O</th>
                            <th>Received By</th>
                            <th>Date Checklisted</th>
                            <th>Checklisted By</th>
                            <th>Released By</th>
                            <th>KM Mileage</th>
                            <th>Concerns/Requests</th>
                            <th>Scartoffie</th>
                            <th>Transazioni</th>
                            <th>Created</th>
                            <th>Last edited</th>
                            <th>Created by</th>
                            <th>Last edited by</th>
                            <th>Checklist</th>
                            <th>On-site Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for r in registros %}
                        <tr>
                            <td>{{ r.servici }}</td>
                            <td>{{ r.jo_no }}</td>
                            <td>{{ r.date_in }}</td>
                            <td>{{ r.date_out }}</td>
                            <td>{{ r.vin }}</td>
                            <td>{{ r.make }}</td>
                            <td>{{ r.model }}</td>
                            <td>{{ r.plate_no }}</td>
                            <td>{{ r.color }}</td>
                            <td>{{ r.notes }}</td>
                            <td>{{ r.cliente }}</td>
                            <td>{{ r.tagged }}</td>
                            <td>{{ r.paperwork }}</td>
                            <td>{{ r.diagnosis }}</td>
                            <td>{{ r.estimate }}</td>
                            <td>{{ r.parts_and_materials }}</td>
                            <td>{{ r.billing }}</td>
                            <td>{{ r.posizione }}</td>
                            <td>{{ r.day_count }}</td>
                            <td>{{ r.released_to }}</td>
                            <td>{{ r.received_from }}</td>
                            <td>{{ r.related_jo }}</td>
                            <td>{{ r.received_by }}</td>
                            <td>{{ r.date_checklisted }}</td>
                            <td>{{ r.checklisted_by }}</td>
                            <td>{{ r.released_by }}</td>
                            <td>{{ r.km_mileage }}</td>
                            <td>{{ r.concerns_request }}</td>
                            <td>{{ r.scartoffie }}</td>
                            <td>{{ r.transazioni }}</td>
                            <td>{{ r.created }}</td>
                            <td>{{ r.last_edited }}</td>
                            <td>{{ r.created_by }}</td>
                            <td>{{ r.last_edited_by }}</td>
                            <td>{{ r.checklist }}</td>
                            <td>{{ r.onsite_details }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


<!-- Add Registro Modal -->
<div class="modal fade" id="addRegistroModal" tabindex="-1" role="dialog" aria-labelledby="addRegistroLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document" style="margin-top: -20vh; max-height: 90vh;">
        <div class="modal-content" style="height: 90vh; display: flex; flex-direction: column;">
            <!-- <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document"
        style="margin-top: -16.25vh; max-height: 90vh;"> -->
            <!-- <div class="modal-content" style="height: 90vh;"> -->
            <form method="POST" action="{{ url_for('home_blueprint.registro') }}">
                <div class="modal-header">
                    <h5 class="modal-title" id="addRegistroLabel" style="padding: 0.5rem 1rem;">NEW</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" style="flex: 1 1 auto; overflow-y: auto; max-height: calc(90vh - 120px);">
                    <!-- <div class="modal-body" style="overflow-y:auto;"> -->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="servici">Servici</label>
                                <input type="text" class="form-control" name="servici" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="jo_no">Job Order No</label>
                                <input type="text" class="form-control" name="jo_no" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="date_in">Date In</label>
                                <input type="date" class="form-control datepicker" name="date_in"
                                    placeholder="MM/DD/YYYY" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="date_out">Date Out</label>
                                <input type="date" class="form-control" name="date_out">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="vin">VIN</label>
                                <input type="text" class="form-control" name="vin">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="make">Make</label>
                                <input type="text" class="form-control" name="make">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="model">Model</label>
                                <input type="text" class="form-control" name="model">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="plate_no">Plate No</label>
                                <input type="text" class="form-control" name="plate_no">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="color">Color</label>
                                <input type="text" class="form-control" name="color">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="cliente">Cliente</label>
                                <input type="text" class="form-control" name="cliente">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="tagged">Tagged</label>
                                <input type="text" class="form-control" name="tagged">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="paperwork">Paperwork</label>
                                <input type="text" class="form-control" name="paperwork">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="diagnosis">Diagnosis</label>
                                <input type="text" class="form-control" name="diagnosis">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="estimate">Estimate</label>
                                <input type="text" class="form-control" name="estimate">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="parts_and_materials">Parts & Materials</label>
                                <input type="text" class="form-control" name="parts_and_materials">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="billing">Billing</label>
                                <input type="text" class="form-control" name="billing">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="posizione">Posizione</label>
                                <input type="text" class="form-control" name="posizione">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="day_count">Day Count</label>
                                <input type="text" class="form-control" name="day_count">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="released_to">Released To</label>
                                <input type="text" class="form-control" name="released_to">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="received_from">Received From</label>
                                <input type="text" class="form-control" name="received_from">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="related_jo">Related J.O</label>
                                <input type="text" class="form-control" name="related_jo">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="received_by">Received By</label>
                                <input type="text" class="form-control" name="received_by">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="date_checklisted">Date Checklisted</label>
                                <input type="text" class="form-control" name="date_checklisted">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="checklisted_by">Checklisted By</label>
                                <input type="text" class="form-control" name="checklisted_by">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="released_by">Released By</label>
                                <input type="text" class="form-control" name="released_by">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="km_mileage">KM Mileage</label>
                                <input type="text" class="form-control" name="km_mileage">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="concerns_request">Concerns/Requests</label>
                                <input type="text" class="form-control" name="concerns_request">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="scartoffie">Scartoffie</label>
                                <input type="text" class="form-control" name="scartoffie">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="transazioni">Transazioni</label>
                                <input type="text" class="form-control" name="transazioni">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="checklist">Checklist</label>
                                <input type="text" class="form-control" name="checklist">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="onsite_details">On-site Details</label>
                                <input type="text" class="form-control" name="checklist">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="padding: 0.5rem 2.5rem; margin-bottom: 0;">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}